In [12]:
import os

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from tqdm import tqdm

from preprocess import *

In [13]:
BASE = "../"
DATAPATH = os.path.join(BASE, "data")
RESULTPATH = os.path.join(DATAPATH,"Submission")

origin_train = pd.read_csv(DATAPATH+'/train.csv').drop(columns=['SAMPLE_ID'])
origin_test = pd.read_csv(DATAPATH+'/test.csv').drop(columns=['SAMPLE_ID'])

LABEL = "CI_HOUR"
categorical_features = ['ARI_CO', 'ARI_PO', 'SHIP_TYPE_CATEGORY', 'ID', 'SHIPMANAGER', 'FLAG']

In [14]:
train, test = timeTransformer(origin_train, origin_test, day_split=True, weekday_split=True, covid_year=True)

In [15]:
train

,ARI_CO,ARI_PO,SHIP_TYPE_CATEGORY,DIST,ID,BREADTH,BUILT,DEADWEIGHT,DEPTH,DRAUGHT,...,PORT_SIZE,CI_HOUR,year,month,day,hour,weekday,day_catg,weekend,covid
0,SG,GIW5,Container,30.881018,Z618338,30.0,24,24300,10.0,10.0,...,0.002615,3.450000,2018,12,17,21,0,3,0,0
1,IN,UJM2,Bulk,0.000000,X886125,30.0,13,35900,10.0,10.0,...,0.000217,0.000000,2014,9,23,6,1,0,0,0
2,CN,EUC8,Container,0.000000,T674582,50.0,12,146000,30.0,20.0,...,0.001614,0.000000,2015,2,3,22,1,3,0,0
3,JP,ZAG4,Container,0.000000,Y847238,20.0,18,6910,10.0,10.0,...,0.000356,0.000000,2020,1,17,4,4,0,0,1
4,SG,GIW5,Container,27.037650,A872328,50.0,10,116000,20.0,10.0,...,0.002615,253.554444,2020,1,26,7,6,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391934,JP,QYY1,Container,0.000000,Y375615,20.0,27,6820,10.0,10.0,...,0.000552,0.000000,2017,6,6,5,1,0,0,0
391935,SG,GIW5,Bulk,5.884603,K635567,10.0,12,3160,10.0,10.0,...,0.002615,144.061389,2019,10,16,0,2,0,0,1
391936,US,QGN3,Bulk,70.660241,J284147,30.0,8,60300,20.0,10.0,...,0.000155,41.482222,2021,3,23,22,1,3,0,1
391937,TW,JWI3,Container,9.448179,J644215,30.0,29,23800,10.0,10.0,...,0.000990,7.485278,2015,1,8,7,3,1,0,0
391938,TW,JWI3,Container,0.000000,D123358,30.0,15,50600,20.0,10.0,...,0.000990,0.000000,2015,6,8,23,0,3,0,0

In [16]:
NaN_count = 0
one_interpolate = 0

bn_null_df = train[train["BN"].isna()][["ARI_CO", "ARI_PO", "BN", "month"]]
bn_null_idx = bn_null_df.index

In [17]:
bn_null_df

       ARI_CO ARI_PO  BN  month
0          SG   GIW5 NaN     12
1          IN   UJM2 NaN      9
2          CN   EUC8 NaN      2
6          ID   REJ1 NaN     12
8          JP   HYG5 NaN     12
...       ...    ...  ..    ...
391931     CN   NGG6 NaN      8
391932     CN   WAF5 NaN      6
391934     JP   QYY1 NaN      6
391937     TW   JWI3 NaN      1
391938     TW   JWI3 NaN      6

[163688 rows x 4 columns]

In [18]:
bn_null_idx

Int64Index([     0,      1,      2,      6,      8,      9,     11,     12,
                14,     16,
            ...
            391924, 391925, 391926, 391927, 391930, 391931, 391932, 391934,
            391937, 391938],
           dtype='int64', length=163688)

In [ ]:
CO, PO, month = (np.where(train.columns=="ARI_CO")[0][0],
                    np.where(train.columns=="ARI_PO")[0][0],
                    np.where(train.columns=="month")[0][0])

In [21]:
np.where(train.columns=="ARI_CO")[0]

array([0])

In [ ]:
train, test = preprocessing(origin_train, origin_test, day_split=True, weekday_split=True, covid_year=True,
                            BN_cleaning=True)

In [ ]:
# train.to_csv("./train_time_bn_temp.csv")
# test.to_csv("./test_time_bn_temp.csv")

In [ ]:
train["BN"].mean()